@model CarroceriaInputModel
@{
    ViewData["Title"] = "Carroceria";
    ViewData["SubTitle"] = "Edição";
}

<div>
    <div class="row">
        <form asp-controller="Carroceria" asp-action="Editar" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="IdCarroceria"/>
                    <div class="row">
                        <div class="col">
                            <label asp-for="NmCarroceria" class="form-label"></label>
                            <input type="text" asp-for="NmCarroceria" class="form-control">
                            <span asp-validation-for="NmCarroceria" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="btn-group float-end" role="group" aria-label="Basic outlined example">
                                <a class="btn btn-outline-secondary" asp-controller="Carroceria" asp-action="Index">Voltar </a>
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </div>
            </div>
        </form>
    </div>
</div>