@{
    ViewData["Title"] = "Pagina Inicial";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Bem-vindo!</h1>
    <p class="lead">Este é um projeto experimental desenvolvido com as seguintes tecnologias:</p>
    <hr class="my-4">
    <ul>
        <li>ASP.NET CORE MVC 8.0</li>
        <li>Bootstrap 5 com Material PRO Lite</li>
        <li>jQuery</li>
        <li>Identity para Autenticação e Autorização</li>
        <li>AutoMapper para conversão de entidades</li>
    </ul>
</div>
